body {
    font-family: Georgia, Times, "Times New Roman", serif;
    background-color: #4aaaa5;
}

div.maika {
  width: 100px;
  height: 100px;
  background-color: red;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

header {
    text-align: center;
    background-color: #ffffff;
    border-color: #cccccc;
}

div.a {
    width: 960px;
}

/*main {
    background-color: #ffffff;
    border-color: #dddddd;
}*/

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Contact */
form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }

  form div + div {
    margin-top: 1em;
  }

  label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
  }

  input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* To give the same size to all text fields */
    width: 300px;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
  }

  input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
  }

  textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;
  }

  .button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
  }

  /* footer */

html {
    height: 100%;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }

  .demo {
    margin: 0 auto;
    padding-top: 64px;
    max-width: 640px;
    width: 94%;
  }

  .demo h1 {
    margin-top: 0;
  }

  /**
   * Footer Styles
   */

  .footer {
    width: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: auto;
    background-color: #666666;
    text-align: center;
  }

  /* responsive code */
  .example {
    width: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: auto;
    color: white;
}

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    body {
    background-color: DarkSlateGrey;
}
}

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    body {
    background-color: DarkBlue;
}
}

@media only screen and (min-width: 640px) {
  body {
  background-color: Orange;
}
}

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    body {
    background-color: Maroon;
}
}

  /* Large devices (laptops/desktops, 980px and up) */
  @media only screen and (min-width: 980px) {
    body {
    background-color: DarkGreen;
}
}

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body {
    background-color: antiquewhite;
}
}
